@media screen and (max-width:1160px ) {
    .cards__wrap{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:1160px ) {
    .cards__small{
        justify-content: center;
    }
}

@media screen and (max-width: 940px) {
    .header__nav{
        flex-direction: column;
    }
}

@media screen and (max-width:880px ) {
    .footer__wrap{
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width:840px ) {
    .header__nav-list{
        flex-wrap: wrap;
        justify-content: center;
    }
}